{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Reserve{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href=" {% static 'reserve/styles.css' %} " rel="stylesheet">
  <script src="../../static/reserve/front-end.js"></script>
  <style>
    /* body{
                background-color: wheat;
            } */
    button {
      margin: 5px;

    }

    .log,
    .reg {
      color: white;
    }

    input {
      margin-bottom: 5px;
    }

    /* .navbar-brand{
                border-style:inset;
            } */
    /* a{
                margin-right: 5px;
            } */
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-brown bg-light">
    <a style="background-color:aqua ;color:rgb(38, 14, 5);" class="navbar-brand">Book a doctor's appointment</a>

    <div>
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}

        <li class="nav-item">
          <button id="my-profile" class="btn btn-info col-12"><a class="nav-link col-12"><strong>{{ user.username }}</strong></a></button>
        </li>

        {% endif %}


        <li class="nav-item">
          <button id="btn-schedule" class="btn btn-success col-12"><a style="color: white;"
              class="nav-link col-12">Daily Schedule</a></button>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <button id="btn-reserve" class="btn btn-success col-12 "><a class="nav-link col-12">Reserve</a></button>
        </li>

        <li class="nav-item">
          <button id="btn-nobat" class="btn btn-success col-12"><a class="nav-link col-12">My Appointment</a></button>
        </li>

        <li class="nav-item">
          <button class="btn btn-danger col-12"><a class="nav-link col-12" href="{% url 'reserve:logout' %}">Log
              Out</a></button>
        </li>

        {% else %}
        <li class="nav-item">
          <button class="btn btn-primary col-12"><a class="nav-link col-12 log" href="{% url 'reserve:login' %}">Log
              In</a></button>
        </li>

        <li class="nav-item">
          <button class="btn btn-warning col-12"><a class="nav-link col-12 reg"
              href="{% url 'reserve:register' %}">Register</a></button>
        </li>

        {% endif %}
      </ul>
    </div>
  </nav>
  <div id="content" class="body">
    {% block body %}
    {% block script %}
    {% endblock %}

    {% endblock %}
  </div>
</body>


</html>