{% extends 'reserve/layout.html' %}
{% load static %}
{% block body %}
<hr>
<h2 style="text-align: center;">Daily Schedule</h2>
        <div class="container" >
            <form action="{% url 'reserve:schedule' %}" id="daily-form" method="POST">
                {% csrf_token %}
                <input class="col-12" type="text" id="date-input">
                <input  class="btn btn-primary col-4" type="submit" value="search">
                
            </form>
            {% if message %}
                {{ message }}
            {% endif %}

            {% if doctors %}
            {{ doctors }}
            <table id="pro-table">
                
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Specialty</th>
                        <th>Attendance Time</th>
                        <th>Capasity</th>
                        <th>Remaind</th>
                    </tr>
                </thead>

                <tbody>
                    <th>{{ doctor.date }}</th>
                    {% for doctor in doctors %}

                        <th>{{ doctor.specialty }}</th>
                        <th>{{ doctor.time }}</th>
                        <th>{{ doctor.capasity }}</th>
                        <th>{{ doctor.mandeh }}</th>

                        {% endfor %}
                </tbody>

            </table>
            {% endif %}
        </div>

{% endblock %}